body{
  background-color: white;
  font-family: "Helvetica", serif;
  font-size: 14px;
}

#second{
  clear: both;
  background-color: gainsboro;
  padding: 10px;
  border-radius: 5px;
}

#first{
  text-align: left;
  background-color: gainsboro;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

button,
input[type=button],
input[type=submit] {
  border-radius: 12px;
  border: 1px solid gray;
  background-color: lighten(lightgray, 5);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  padding: 2px 8px;
}



// Ta rodyklyte (zenklas daugiau)
// siuo atveju selectina
// label elementus kurie yra tiesioginiai
// form'os child'ai.
form > label,
.form-group {
  display: block;
  //overflow: hidden;
  margin-bottom: 4px;
  font-weight: bold;


  &:after {
    content: "";
    display: block;
    clear: both;
  }

  * {
    box-sizing: border-box;
  }

  .form-label,
  .form-control {
    float: left;
  }

  .form-label {
    width: 40%;
    text-align: right;
    padding-right: 10px;
    padding-top: 2px;
  }

  .form-control {
    width: 60%;
  }
}

//pavyzys
//#submitb{
//  border-radius: 10px;
//  //border: 1px solid black;
//  overflow: hidden;
//}

#submit_button{
  margin-left: 250px;
}

label{
  font-weight: bold;

}

#search{
  border-radius: 15px;
  
}

//form {
//  * {
//    box-sizing: border-box;
//  }
//
//  label {
//    .label, .form-control {
//      float: left;
//    }
//
//    .label {
//      width: 40%;
//      text-align: right;
//      padding-right: 10px;
//    }
//
//    .form-control {
//      width: 60%;
//    }
//  }
//}

